<div class="row">
    <div *ngFor="let weather of displayed_weathers" class="col">
        <weather-card [weather]="weather"></weather-card>
    </div>
</div>


<!--
<div class="row">
    
    <div class="col">
        <p>eihfeifh</p>
    </div>
    <div class="col">
        
        <p>efe</p>
    </div>
</div>

-->



<!--
    <div class="container">
    <div *ngFor="let weather of weathers" class="row">
        <div class="col-4">
            <weather-card [weather]="weather"></weather-card>
        </div>
        
    </div>
</div>

-->