nav{
    background-color: transparent;
}

.icon{
    width: 50px;
}


.navbar-brand{
    font-size: 2rem;
    font-weight: 230;
    color : whitesmoke
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}