.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
}

img{
    width: 200px;
}

.right-bordered{
    border-right: 1px whitesmoke solid;
}

.headliner{
    font-size:5.5rem;
    font-weight: 230;
}

.small-headliner{
    font-size:3rem;
    font-weight: 250;
}

.subText{
    color: lightgray;
}