<div>

    <div>
        <div class="small-headliner">London, Uk</div>
        <div>22/02/2000 15h</div>
    </div>

    <div class="row align-items-center text-center">

        <div class="col container align-items-center right-bordered">
            <img src='http://openweathermap.org/img/wn/{{weather.icon}}@2x.png'/>
            <div>
                <span class="headliner">{{general_temp}}°</span>
                <p>{{weather.main_description}}</p>
            </div>
            
        </div>
        
        

        <div class="col">

            <div>
                <h5>{{min_temp}}°</h5>
                <p class="subText">Min</p>
                
            </div>
            
            <div>
                <h5>{{max_temp}}°</h5>
                <p class="subText">Max</p>
                
            </div>
        </div>

        <div class="col">

            <div>
                <h5>{{weather.humidity}}%</h5>
                <p class="subText">Humidity</p>
            </div>

            <div>
                <h5>{{weather.feels_like}}°</h5>
                <p class="subText">Feels like</p>
            </div>
            
            
        </div>

        <div class="col">

            <div>
                <h5>{{weather.pressure}}mBar</h5>
                <p class="subText">Pressure</p>
                
            </div>
            
            <div>
                <h5>{{weather.humidity}}%</h5>
                <p class="subText">Humidity</p>
                
            </div>
            
        </div>
    </div>
</div>