<div>
    <div>
        <h3>London, Uk</h3>
        <p>22/02/2000 15h</p>
    </div>
    <div class="row">
        <div class="col">
            <img src='http://openweathermap.org/img/wn/{{weather.icon}}@2x.png'/>
            <p>{{weather.main_description}}</p>
        </div>
        <div class="col">
            <div>
                <p>{{weather.main_description}}</p>
            </div>

            <div>
                <h5>{{weather.temperature}}°F</h5>
                <p>current temperature</p>
            </div>
            
            
        </div>
        <div class="col">

            <div>
                <h5>{{weather.temp_min}}°F</h5>
                <p>Min</p>
                
            </div>
            
            <div>
                <h5>{{weather.temp_max}}°F</h5>
                <p>Max</p>
                
            </div>
        </div>

        <div class="col">

            <div>
                <h5>{{weather.wind_speed}} mph</h5>
                <p>Wind speed</p>
                
            </div>
            
            <div>
                <h5>{{weather.humidity}}%</h5>
                <p>Humidity</p>
                
            </div>
            
        </div>
    </div>
</div>