<div class="row">

    <div class="col">
        <img src='http://openweathermap.org/img/wn/{{weather.icon}}@2x.png' alt="..."/>
    </div>

    <div class="col">
        <p>{{weather.date.toDateString().split(" ")[0]}}</p>
        <p>{{weather.date.toDateString().split(" ")[1] + " "+ weather.date.toDateString().split(" ")[2]}}</p>
    </div>

    <div class="col">
        <p>{{weather.temp_min}}</p>
        <p>Low</p>
    </div>

    <div class="col">
        <p>{{weather.temp_max}}</p>
        <p>High</p>
    </div>

    <div class="col">
        <p>{{weather.wind_speed}}Mph</p>
        <p>Wind</p>
    </div>

    <div class="col">
        <p>{{weather.humidity}}%</p>
        <p>Humidity</p>
    </div>
</div>