<div class="row text-center align-items-center">

    <div class="col">
        <img src='http://openweathermap.org/img/wn/{{weather.icon}}@2x.png' alt="..."/>
    </div>

    <div class="col">
        <h5>{{weather.date.toDateString().split(" ")[0]}}</h5>
        <span class="subText">{{weather.date.toDateString().split(" ")[1] + " "+ weather.date.toDateString().split(" ")[2]}}</span>
    </div>

    <div class="col">
        <h5 class="rowText">{{weather.temp_min}}</h5>
        <span class="subText rowText">Low</span>
    </div>

    <div class="col">
        <h5>{{weather.temp_max}}</h5>
        <span class="subText">High</span>
    </div>

    <div class="col">
        <h5>{{weather.wind_speed}}Mph</h5>
        <span class="subText">Wind</span>
    </div>

    <div class="col">
        <h5>{{weather.humidity}}%</h5>
        <span class="subText">Humidity</span>
    </div>
</div>