<body class="gardient-bg">
  <div class="container">
    <div>
      <searchbar class="col s12" [(searchedString)]="searchedCityName" [placeholder]="'Rechercher une ville'"></searchbar>
      <button (click)="searchCityWeather()">Search</button>
    </div>

    <div>
      <p>searched city {{searchedCityName}}</p>
    </div>

    <div *ngIf="weathers | async as weathers">
      <div *ngIf="selectedWeather">
        <main-weather-view [weather]="selectedWeather"></main-weather-view>
      </div>
      <div *ngIf="selectedWeather == undefined">
        <main-weather-view [weather]="weathers[0]"></main-weather-view>
      </div>
      <h3>Weather by hour</h3>
      <weather-carroussel [weathers]="weathers" (onWeatherSelection)="selectWeather($event)" [nbItems]="7"></weather-carroussel>

      <h3>Next 5 day</h3>
      <weather-tab [weathers]="weathers"></weather-tab>
    </div>
    
  </div>

  <router-outlet></router-outlet>
  
</body>

